best GUI.json
[{"id":"34f824f7.d88274","type":"ui_text","z":"a3730b32.c540b8","group":"4cb1dc7c.c7b7fc","order":2,"width":"0","height":"0","name":"","label":"Bid Price","format":"{{msg.payload.bidPrice}}","layout":"row-spread","x":969.9999847412109,"y":1293.36669921875,"wires":[]},{"id":"65f973e7.254504","type":"ui_chart","z":"a3730b32.c540b8","name":"","group":"98f7ab3c.8fa1","order":3,"width":"18","height":"10","label":"","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"Click on a crypto or provide a ticker pair","dot":true,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1059.999984741211,"y":1833.36669921875,"wires":[[]]},{"id":"b2a78044.bc8308","type":"function","z":"a3730b32.c540b8","name":"built chart data","func":"\nvar series = [msg.topic]\nvar data = msg.payload.map(function (d) {\n return {\n x: d[0],\n y: d[4] // close price\n }\n});\n\nmsg.payload = [{\n series: series,\n data: [data]\n}]\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1029.999984741211,"y":1773.36669921875,"wires":[["65f973e7.254504"]]},{"id":"2fd80479.033ffc","type":"function","z":"a3730b32.c540b8","name":"set values for API","func":"if (typeof msg.payload === 'string') {\n flow.set(\"selectedTickerPair\", msg.payload);\n}\nmsg.topic = flow.get(\"selectedTickerPair\");\nreturn msg;","outputs":1,"noerr":0,"x":559.9999847412109,"y":1433.36669921875,"wires":[["4e616c0b.885974","a80a93b3.3ddf28","8b340042.3c2fa8","ff4813ae.4f9d2"]]},{"id":"da4cc20b.d658c","type":"ui_button","z":"a3730b32.c540b8","name":"","group":"98f7ab3c.8fa1","order":2,"width":"2","height":"1","passthru":false,"label":"Refresh","color":"","bgcolor":"","icon":"refresh","payload":"selectedTickerPair","payloadType":"flow","topic":"","x":269.99998474121094,"y":1293.36669921875,"wires":[["44ceb3f1.26b1b4","c2c14046.68f368"]]},{"id":"ed2363ed.4afa9","type":"ui_button","z":"a3730b32.c540b8","name":"","group":"98f7ab3c.8fa1","order":6,"width":"2","height":"1","passthru":false,"label":"Ethereum","color":"","bgcolor":"#555555","icon":"","payload":"ETHBTC","payloadType":"str","topic":"","x":269.99998474121094,"y":1373.36669921875,"wires":[["44ceb3f1.26b1b4"]]},{"id":"173aa7b5.a8cb9","type":"ui_button","z":"a3730b32.c540b8","name":"","group":"98f7ab3c.8fa1","order":7,"width":"2","height":"1","passthru":false,"label":"Neo","color":"","bgcolor":"#58be02","icon":"","payload":"NEOBTC","payloadType":"str","topic":"","x":259.99998474121094,"y":1413.36669921875,"wires":[["44ceb3f1.26b1b4"]]},{"id":"2970a03a.758198","type":"ui_button","z":"a3730b32.c540b8","name":"","group":"98f7ab3c.8fa1","order":4,"width":"2","height":"1","passthru":false,"label":"BTC","color":"","bgcolor":"#ff8e13","icon":"","payload":"BTCUSDT","payloadType":"str","topic":"","x":259.99998474121094,"y":1333.36669921875,"wires":[["44ceb3f1.26b1b4"]]},{"id":"2a038039.06681","type":"ui_button","z":"a3730b32.c540b8","name":"","group":"98f7ab3c.8fa1","order":5,"width":"2","height":"1","passthru":false,"label":"Litecoin","color":"","bgcolor":"#bebebe","icon":"","payload":"LTCBTC","payloadType":"str","topic":"","x":269.99998474121094,"y":1453.36669921875,"wires":[["44ceb3f1.26b1b4"]]},{"id":"52be0ed8.93ae38","type":"ui_text","z":"a3730b32.c540b8","group":"4cb1dc7c.c7b7fc","order":3,"width":"0","height":"0","name":"","label":"Ask Price","format":"{{msg.payload.askPrice}}","layout":"row-spread","x":969.9999847412109,"y":1333.36669921875,"wires":[]},{"id":"44ceb3f1.26b1b4","type":"ui_text_input","z":"a3730b32.c540b8","name":"","label":"Ticker pair","group":"98f7ab3c.8fa1","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":539.9999847412109,"y":1353.36669921875,"wires":[["60e5bc96.bc2ecc"]]},{"id":"56d57320.a564fc","type":"catch","z":"a3730b32.c540b8","name":"","scope":null,"x":269.99998474121094,"y":1873.36669921875,"wires":[["3d9aa83f.ce1f78","d961a5de.69b108"]]},{"id":"69c25b4.059bfa4","type":"ui_toast","z":"a3730b32.c540b8","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":719.9999847412109,"y":1873.36669921875,"wires":[]},{"id":"3d9aa83f.ce1f78","type":"debug","z":"a3730b32.c540b8","name":"","active":true,"console":false,"complete":"error","x":409.99998474121094,"y":1913.36669921875,"wires":[]},{"id":"d961a5de.69b108","type":"function","z":"a3730b32.c540b8","name":"","func":"msg.topic = \"API Error\";\nif (msg.error) {\n msg.payload = msg.error.message\n} else {\n msg.payload = \"\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":399.99998474121094,"y":1873.36669921875,"wires":[["dee0edb6.31085"]]},{"id":"bbf0b2d7.91a0e8","type":"ui_text","z":"a3730b32.c540b8","group":"4cb1dc7c.c7b7fc","order":4,"width":"0","height":"0","name":"","label":"24 hr Low","format":"{{msg.payload.lowPrice}}","layout":"row-spread","x":969.9999847412109,"y":1373.36669921875,"wires":[]},{"id":"ef9e89b0.46d57","type":"ui_text","z":"a3730b32.c540b8","group":"4cb1dc7c.c7b7fc","order":5,"width":"0","height":"0","name":"","label":"24 hr high","format":"{{msg.payload.highPrice}}","layout":"row-spread","x":969.9999847412109,"y":1413.36669921875,"wires":[]},{"id":"9fdb2bf.811cbd8","type":"ui_text","z":"a3730b32.c540b8","group":"4cb1dc7c.c7b7fc","order":6,"width":"0","height":"0","name":"","label":"24 hr Price % change","format":"{{msg.payload.priceChangePercent}}%","layout":"row-spread","x":1009.9999847412109,"y":1453.36669921875,"wires":[]},{"id":"72f7474d.3049a8","type":"ui_text","z":"a3730b32.c540b8","group":"4cb1dc7c.c7b7fc","order":7,"width":"0","height":"0","name":"","label":"24 hr volume","format":"{{msg.payload.volume}}","layout":"row-spread","x":979.9999847412109,"y":1493.36669921875,"wires":[]},{"id":"cb47a708.804e08","type":"ui_button","z":"a3730b32.c540b8","name":"","group":"98f7ab3c.8fa1","order":8,"width":"2","height":"1","passthru":false,"label":"Ripple","color":"","bgcolor":"#0086be","icon":"","payload":"XRPBTC","payloadType":"str","topic":"","x":259.99998474121094,"y":1493.36669921875,"wires":[["44ceb3f1.26b1b4"]]},{"id":"3d100461.764e4c","type":"ui_slider","z":"a3730b32.c540b8","name":"","label":"","group":"4cb1dc7c.c7b7fc","order":9,"width":0,"height":0,"passthru":true,"topic":"","min":"2","max":"14","step":1,"x":259.99998474121094,"y":1813.36669921875,"wires":[["668c80e5.4da4a8"]]},{"id":"f42a5983.c59258","type":"function","z":"a3730b32.c540b8","name":"set values for api","func":"\nvar interval = \"1d\";\n\nswitch(msg.payload) {\n case 0:\n interval = \"1m\";\n break;\n case 1:\n interval = \"3m\";\n break;\n case 2:\n interval = \"5m\";\n break; \n case 3:\n interval = \"15m\";\n break;\n case 4:\n interval = \"1h\";\n break;\n case 5:\n interval = \"2h\";\n break;\n case 6:\n interval = \"4h\";\n break;\n case 7:\n interval = \"6h\";\n break;\n case 8:\n interval = \"8h\";\n break;\n case 9:\n interval = \"12h\";\n break;\n case 10:\n interval = \"1d\";\n break;\n case 11:\n interval = \"3d\";\n break;\n case 12:\n interval = \"1w\";\n break;\n case 13:\n interval = \"1M\";\n break;\n}\n\nflow.set(\"interval\", interval);\nmsg.payload = interval;\n\nreturn msg;","outputs":1,"noerr":0,"x":579.9999847412109,"y":1813.36669921875,"wires":[["5f68ec3e.7ee2c4","8b340042.3c2fa8"]]},{"id":"668c80e5.4da4a8","type":"delay","z":"a3730b32.c540b8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"3","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":399.99998474121094,"y":1813.36669921875,"wires":[["f42a5983.c59258"]]},{"id":"b4a282ec.6d4288","type":"ui_button","z":"a3730b32.c540b8","name":"","group":"98f7ab3c.8fa1","order":9,"width":"2","height":"1","passthru":false,"label":"Monero","color":"","bgcolor":"#ff6600","icon":"","payload":"XMRBTC","payloadType":"str","topic":"","x":269.99998474121094,"y":1533.36669921875,"wires":[["44ceb3f1.26b1b4"]]},{"id":"5f68ec3e.7ee2c4","type":"ui_text","z":"a3730b32.c540b8","group":"4cb1dc7c.c7b7fc","order":8,"width":"0","height":"0","name":"","label":"Chart time interval","format":"{{msg.payload}}","layout":"row-spread","x":799.9999847412109,"y":1813.36669921875,"wires":[]},{"id":"6d482bcc.311bac","type":"inject","z":"a3730b32.c540b8","name":"initialize","topic":"10","payload":"10","payloadType":"num","repeat":"","crontab":"","once":true,"x":269.99998474121094,"y":1773.36669921875,"wires":[["3d100461.764e4c"]]},{"id":"efe15a64.0954e8","type":"ui_numeric","z":"a3730b32.c540b8","name":"","label":"# datapoints","group":"4cb1dc7c.c7b7fc","order":10,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":"1","max":"500","step":1,"x":279.99998474121094,"y":1713.36669921875,"wires":[["afb752e8.7e6cd"]]},{"id":"7b60276c.6d185","type":"inject","z":"a3730b32.c540b8","name":"initialize","topic":"30","payload":"30","payloadType":"num","repeat":"","crontab":"","once":true,"x":269.99998474121094,"y":1673.36669921875,"wires":[["efe15a64.0954e8"]]},{"id":"3d7ddd47.a5c28a","type":"function","z":"a3730b32.c540b8","name":"set values for api","func":"flow.set(\"limit\", parseInt(msg.payload));\n\nreturn msg;","outputs":1,"noerr":0,"x":639.9999847412109,"y":1713.36669921875,"wires":[["8b340042.3c2fa8"]]},{"id":"8b340042.3c2fa8","type":"function","z":"a3730b32.c540b8","name":"load chart options","func":"msg.topic = flow.get(\"selectedTickerPair\");\nmsg.payload = {};\nmsg.payload.interval = flow.get(\"interval\");\nmsg.payload.limit = flow.get(\"limit\");\n\nreturn msg;","outputs":1,"noerr":0,"x":839.9999847412109,"y":1713.36669921875,"wires":[["686febea.08b5c4"]]},{"id":"afb752e8.7e6cd","type":"delay","z":"a3730b32.c540b8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"3","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":439.99998474121094,"y":1713.36669921875,"wires":[["3d7ddd47.a5c28a"]]},{"id":"c2c14046.68f368","type":"ui_toast","z":"a3730b32.c540b8","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"Refreshing chart","name":"","x":559.9999847412109,"y":1293.36669921875,"wires":[]},{"id":"96d2180e.0e73a","type":"ui_template","z":"a3730b32.c540b8","group":"4cb1dc7c.c7b7fc","name":"Logo display","order":1,"width":"4","height":"3","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":979.9999847412109,"y":1533.36669921875,"wires":[[]]},{"id":"ff4813ae.4f9d2","type":"function","z":"a3730b32.c540b8","name":"load logo","func":"var symbol = msg.topic.slice(0,-3);\nsymbol = symbol.toLowerCase();\n\nif (symbol === \"btcu\") { // USDT case\n symbol = \"btc\";\n}\n\nvar imgUrl = \"https://raw.githubusercontent.com/cjdowner/cryptocurrency-icons/master/128/color/\"+symbol+\".png\";\n\nmsg.payload = \"<img src='\"+imgUrl+\"'alt='Logo image not found' />\";\n\nreturn msg","outputs":1,"noerr":0,"x":829.9999847412109,"y":1533.36669921875,"wires":[["96d2180e.0e73a"]]},{"id":"60e5bc96.bc2ecc","type":"delay","z":"a3730b32.c540b8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"2","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":539.9999847412109,"y":1393.36669921875,"wires":[["2fd80479.033ffc"]]},{"id":"4a517511.0e1494","type":"ui_button","z":"a3730b32.c540b8","name":"","group":"98f7ab3c.8fa1","order":9,"width":"2","height":"1","passthru":false,"label":"Stellar","color":"","bgcolor":"#99a2a6","icon":"","payload":"XLMBTC","payloadType":"str","topic":"","x":259.99998474121094,"y":1573.36669921875,"wires":[["44ceb3f1.26b1b4"]]},{"id":"9eefda1c.5d6858","type":"ui_button","z":"a3730b32.c540b8","name":"","group":"98f7ab3c.8fa1","order":9,"width":"2","height":"1","passthru":false,"label":"Zcash","color":"","bgcolor":"#e49b2e","icon":"","payload":"ZECBTC","payloadType":"str","topic":"","x":259.99998474121094,"y":1613.36669921875,"wires":[["44ceb3f1.26b1b4"]]},{"id":"dee0edb6.31085","type":"delay","z":"a3730b32.c540b8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":539.9999847412109,"y":1873.36669921875,"wires":[["69c25b4.059bfa4"]]},{"id":"4e616c0b.885974","type":"binance-get-book-ticker","z":"a3730b32.c540b8","name":"","ticker":"","x":789.9999847412109,"y":1313.36669921875,"wires":[["34f824f7.d88274","52be0ed8.93ae38"]]},{"id":"a80a93b3.3ddf28","type":"binance-get-day-stats","z":"a3730b32.c540b8","name":"","ticker":"","x":779.9999847412109,"y":1413.36669921875,"wires":[["bbf0b2d7.91a0e8","ef9e89b0.46d57","9fdb2bf.811cbd8","72f7474d.3049a8"]]},{"id":"686febea.08b5c4","type":"binance-get-candlesticks","z":"a3730b32.c540b8","name":"","ticker":"","interval":"1d","limit":"30","startTime":"","endTime":"","x":1029.999984741211,"y":1713.36669921875,"wires":[["b2a78044.bc8308"]]},{"id":"4cb1dc7c.c7b7fc","type":"ui_group","z":"","name":"Numbers","tab":"89eb3c2d.1e24a","order":1,"disp":false,"width":"5","collapse":false},{"id":"98f7ab3c.8fa1","type":"ui_group","z":"","name":"Chart","tab":"89eb3c2d.1e24a","order":2,"disp":false,"width":"18"},{"id":"89eb3c2d.1e24a","type":"ui_tab","z":"","name":"Binance Node Demo","icon":"fa-bitcoin"}]