flows(3).json
[{"id":"ccee0002.ee6a48","type":"inject","z":"19d7ac23.20b7cc","name":"Show heatmap","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":268.566650390625,"y":1486.566650390625,"wires":[["c68f2862.13ad28"]]},{"id":"e409bb23.b358c8","type":"ui_template","z":"19d7ac23.20b7cc","group":"70e27bff.a1480c","name":"testo","order":0,"width":"20","height":"9","format":"<!DOCTYPE html>\n<html lang=\"en\">\n\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <meta http-equiv=\"X-UA-Compatible\" content=\"ie=edge\">\n  <title>Range HeatMap</title>\n     <script src=\"/home/ubuntu/node_modules/node-red-contrib-ui-heatmap/lib/heatmap.js\"></script>\n\n     <style>{{{payload.style}}}</style>\n</head>\n\n<body>\n    <div id=\"ng-scope\" class=\"center\">\n    </div>\n\n    <script>{{{payload.script}}}</script>\n\n</body>\n\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":753.566650390625,"y":1485.566650390625,"wires":[[]]},{"id":"c68f2862.13ad28","type":"template","z":"19d7ac23.20b7cc","name":"JS","field":"payload","fieldType":"msg","format":"javascript","syntax":"mustache","template":"function generateData(count, yrange) {\n            var i = 0;\n            var series = [];\n            while (i < count) {\n                var x = 'w' + (i + 1).toString();\n                var y = Math.floor(Math.random() * (yrange.max - yrange.min + 1)) + yrange.min;\n\n                series.push({\n                    x: x,\n                    y: y\n                });\n                i++;\n            }\n            return series;\n        }\n\n\n        var options = {\n            chart: {\n                height: 350,\n                type: 'heatmap',\n            },\n            dataLabels: {\n                enabled: false\n            },\n            colors: [\"#008FFB\"],\n            series: [{\n                    name: 'Metric1',\n                    data: generateData(18, {\n                        min: 0,\n                        max: 90\n                    })\n                },\n                {\n                    name: 'Metric2',\n                    data: generateData(18, {\n                        min: 0,\n                        max: 90\n                    })\n                },\n                {\n                    name: 'Metric3',\n                    data: generateData(18, {\n                        min: 0,\n                        max: 90\n                    })\n                },\n                {\n                    name: 'Metric4',\n                    data: generateData(18, {\n                        min: 0,\n                        max: 90\n                    })\n                },\n                {\n                    name: 'Metric5',\n                    data: generateData(18, {\n                        min: 0,\n                        max: 90\n                    })\n                },\n                {\n                    name: 'Metric6',\n                    data: generateData(18, {\n                        min: 0,\n                        max: 90\n                    })\n                },\n                {\n                    name: 'Metric7',\n                    data: generateData(18, {\n                        min: 0,\n                        max: 90\n                    })\n                },\n                {\n                    name: 'Metric8',\n                    data: generateData(18, {\n                        min: 0,\n                        max: 90\n                    })\n                },\n                {\n                    name: 'Metric9',\n                    data: generateData(18, {\n                        min: 0,\n                        max: 90\n                    })\n                }\n            ],\n            title: {\n                text: 'HeatMap Chart (Single color)'\n            },\n\n        }\n\n        var chart = new ApexCharts(\n            document.querySelector(\"#ng-scope\"),\n            options\n        );\n\n        chart.render();","output":"str","x":437.0333251953125,"y":1485.7333221435547,"wires":[["aff38202.c34398"]]},{"id":"aff38202.c34398","type":"template","z":"19d7ac23.20b7cc","name":"CSS","field":"payload.style","fieldType":"msg","format":"html","syntax":"mustache","template":".center {\n          margin: auto;\n          width: 80%;\n          border: 3px solid green;\n          padding: 10px;\n        }","x":591.566650390625,"y":1485.566650390625,"wires":[["ba7ce6e3.ea9d","e409bb23.b358c8"]]},{"id":"ba7ce6e3.ea9d","type":"template","z":"19d7ac23.20b7cc","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n  <head>\n    <title>My Site</title>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script>\n    <style>{{{payload.style}}}</style>\n  </head>\n  \n\n    <h2>Using CSS to style an HTML form with AJAX POST and Node-RED</h2>\n    <h4><a href=\"http://www.internetoflego.com\">Internet of LEGO</a></h4>\n\n<div>\n  <form method=\"post\" action=\"/{{url}}\" ajax=\"true\">\n    <label for=\"fname\">First Name</label>\n    <input type=\"text\" id=\"fname\" name=\"firstname\">\n\n    <label for=\"lname\">Last Name</label>\n    <input type=\"text\" id=\"lname\" name=\"lastname\">\n\n    <label for=\"country\">Country</label>\n    <select id=\"country\" name=\"country\">\n      <option value=\"uk\">United Kingdom</option>\n      <option value=\"canada\">Canada</option>\n      <option value=\"usa\">USA</option>\n    </select>\n  \n    <input type=\"submit\" value=\"Submit\">\n  </form>\n</div>\n<div>\n    <span id=\"result\"></span>\n</div>\n\n</body>\n</html>\n<script>{{{payload.script}}}</script>","x":751.566650390625,"y":1422.566650390625,"wires":[[]]},{"id":"70e27bff.a1480c","type":"ui_group","z":"","name":"Chart","tab":"41ed1601.df99f","order":2,"disp":true,"width":"20","collapse":false},{"id":"41ed1601.df99f","type":"ui_tab","z":"","name":"Test","icon":"dashboard","order":1,"disabled":false,"hidden":false}]