flows.json
[{"id":"c183dd71.0560a","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"397751c4.6dca1e","type":"mysql","z":"c183dd71.0560a","mydb":"3436d924.bd7216","name":"DTWIN DB","x":1190,"y":70,"wires":[["f5ca043.67fa1f8"]]},{"id":"af6311d5.072ff","type":"function","z":"c183dd71.0560a","name":"getClientCategory","func":"var tesk = flow.get(\"task\");\nflow.set(\"task\", \"getClientCategory\");\n\nmsg.topic = \"SELECT DISTINCT client_category FROM dtwin.rfid_msg_arch;\";\n\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":72,"wires":[["397751c4.6dca1e"]]},{"id":"1ca15445.77a394","type":"inject","z":"c183dd71.0560a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":72,"wires":[["af6311d5.072ff"]]},{"id":"9d432e80.5f3e3","type":"switch","z":"c183dd71.0560a","name":"","property":"task","propertyType":"flow","rules":[{"t":"eq","v":"getClientCategory","vt":"str"},{"t":"eq","v":"getProducts","vt":"str"},{"t":"eq","v":"getItemDetails","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":430,"y":200,"wires":[["55a74c1f.018a0c"],["623c426b.6ff11c"],["16757654.45c4ea"],["26335236.d1a4de"]]},{"id":"623c426b.6ff11c","type":"ui_dropdown","z":"c183dd71.0560a","name":"","label":"Part Number : ","tooltip":"product part number","place":"Product part number","group":"cb26b95d.510c6","order":3,"width":"6","height":"1","passthru":false,"options":[],"payload":"","topic":"Category","x":670,"y":230,"wires":[["6236c410.ffbbf4"]]},{"id":"f5ca043.67fa1f8","type":"function","z":"c183dd71.0560a","name":"Populate dropdown ","func":"if(flow.get(\"task\") === \"getItemDetails\")\n    return msg;\n\nmsg.options = [];\nobj = msg.payload;\nfor(let i = 0; i < obj.length; i++){\n    let row = obj[i]; //get the row\n    let opt = {};//make new opt object\n    if(flow.get(\"task\") === \"getProducts\")\n        opt[row.part_number_item] = row.part_number_item; //add a propery to object called row[0] & set its value to row[1]\n    else if(flow.get(\"task\") === \"getClientCategory\")\n         opt[row.client_category] = row.client_category; //add a propery to object called row[0] & set its value to row[1]\n    msg.options.push(opt);//add the opt to array    \n}\nreturn msg;\n\n","outputs":1,"noerr":0,"x":230,"y":200,"wires":[["9d432e80.5f3e3"]]},{"id":"55a74c1f.018a0c","type":"ui_dropdown","z":"c183dd71.0560a","name":"","label":"Categorys : ","tooltip":"Client Category","place":"Client Categorys","group":"cb26b95d.510c6","order":1,"width":"6","height":"1","passthru":false,"options":[],"payload":"","topic":"Category","x":670,"y":170,"wires":[["f505e728.be4278"]]},{"id":"f505e728.be4278","type":"function","z":"c183dd71.0560a","name":"getProducts","func":"var tesk = flow.get(\"task\");\nflow.set(\"task\", \"getProducts\");\nvar selectedCategory = flow.get(\"selectedCategory\");\nflow.set(\"selectedCategory\", msg.payload);\nmsg.topic = \"SELECT distinct part_number_item FROM dtwin.rfid_msg_arch WHERE client_category = '\" + selectedCategory + \"'\";\n\nreturn msg;","outputs":1,"noerr":0,"x":879,"y":170,"wires":[["397751c4.6dca1e"]]},{"id":"6236c410.ffbbf4","type":"function","z":"c183dd71.0560a","name":"getSelectedItem","func":"var part_number_item = flow.get(\"part_number_item\");\nflow.set(\"part_number_item\", msg.payload);\n\nreturn null;","outputs":1,"noerr":0,"x":890,"y":230,"wires":[[]]},{"id":"5c7f72d5.c734b4","type":"ui_button","z":"c183dd71.0560a","name":"","group":"cb26b95d.510c6","order":7,"width":0,"height":0,"passthru":false,"label":"ShowDetailsInfo","tooltip":"Show detail info of the selected item number","color":"","bgcolor":"","icon":"","payload":"Show","payloadType":"str","topic":"","x":670,"y":290,"wires":[["491935dc.dbc524"]]},{"id":"491935dc.dbc524","type":"function","z":"c183dd71.0560a","name":"getItemDetails","func":"var tesk = flow.get(\"task\");\nflow.set(\"task\", \"getItemDetails\");\n\nmsg.topic = \"SELECT * FROM dtwin.rfid_msg_arch WHERE client_category = '\" + flow.get(\"selectedCategory\") + \n            \"' AND part_number_item = '\" + flow.get(\"part_number_item\") + \"';\";\n\nreturn msg;","outputs":1,"noerr":0,"x":888,"y":290,"wires":[["397751c4.6dca1e","dc8d5e07.817f5"]]},{"id":"7590c99e.8f90f8","type":"ui_text","z":"c183dd71.0560a","group":"58e66216.3e41dc","order":0,"width":"7","height":"1","name":"","label":"RFID_short_id : ","format":"{{msg.payload.rfid_short_id}}","layout":"row-spread","x":670,"y":380,"wires":[]},{"id":"16757654.45c4ea","type":"function","z":"c183dd71.0560a","name":"getDetails","func":"var count = msg.payload.length;\nif(count > 0)\n{\n    let lastRecord =  [];\n    lastRecord = msg.payload[count-1]; //get the last reading of the item\n    //let total = {\"count\":count};\n    lastRecord[\"count\"] = count;\n    //return [row.rfid_short_id.toString(), row.type_box.toString(), row.real_machine_id.toString(), row.event_id.toString(), row.status_id.toString(), row.ts_receive.toString()];\n    msg.payload = lastRecord;\n    return msg;\n}\nelse\n    return null;","outputs":1,"noerr":0,"x":338,"y":500,"wires":[["7590c99e.8f90f8","9185155a.d59418","c373cdcf.b67ed8","dda9c754.e7184","f1b77220.cb7398","66ac1b55.0f2e7c","40f4189c.2e622"]]},{"id":"9185155a.d59418","type":"ui_text","z":"c183dd71.0560a","group":"58e66216.3e41dc","order":0,"width":"7","height":"1","name":"","label":"Type_box : ","format":"{{msg.payload.type_box}}","layout":"row-spread","x":659,"y":428,"wires":[]},{"id":"c373cdcf.b67ed8","type":"ui_text","z":"c183dd71.0560a","group":"58e66216.3e41dc","order":0,"width":"7","height":"1","name":"","label":"Real_machine_id : ","format":"{{msg.payload.real_machine_id}}","layout":"row-spread","x":677,"y":476,"wires":[]},{"id":"dda9c754.e7184","type":"ui_text","z":"c183dd71.0560a","group":"58e66216.3e41dc","order":0,"width":"7","height":"1","name":"","label":"Event_id : ","format":"{{msg.payload.event_id}}","layout":"row-spread","x":648.566650390625,"y":522.566650390625,"wires":[]},{"id":"f1b77220.cb7398","type":"ui_text","z":"c183dd71.0560a","group":"58e66216.3e41dc","order":0,"width":"7","height":"1","name":"","label":"Status_id : ","format":"{{msg.payload.status_id}}","layout":"row-spread","x":658,"y":570,"wires":[]},{"id":"66ac1b55.0f2e7c","type":"ui_text","z":"c183dd71.0560a","group":"58e66216.3e41dc","order":0,"width":"7","height":"1","name":"","label":"TS_receive","format":"{{msg.payload.ts_receive}}","layout":"row-spread","x":658,"y":612,"wires":[]},{"id":"40f4189c.2e622","type":"ui_text","z":"c183dd71.0560a","group":"58e66216.3e41dc","order":0,"width":"7","height":"2","name":"","label":"Total : ","format":"{{msg.payload.count}}","layout":"row-spread","x":637,"y":660,"wires":[]},{"id":"26335236.d1a4de","type":"debug","z":"c183dd71.0560a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":270,"y":290,"wires":[]},{"id":"dc8d5e07.817f5","type":"debug","z":"c183dd71.0560a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1130,"y":340,"wires":[]},{"id":"3436d924.bd7216","type":"MySQLdatabase","z":"","host":"0.0.0.0","port":"3306","db":"dtwin","tz":""},{"id":"cb26b95d.510c6","type":"ui_group","z":"","name":"Dtwin","tab":"bc00c1c0.774968","order":1,"disp":true,"width":"8","collapse":true},{"id":"58e66216.3e41dc","type":"ui_group","z":"","name":"Detail Informations","tab":"bc00c1c0.774968","order":3,"disp":true,"width":"18","collapse":false},{"id":"bc00c1c0.774968","type":"ui_tab","z":"","name":"Tab 2","icon":"dashboard","order":2,"disabled":false,"hidden":false}]