test_flow.json
[{"id":"4d0715e.b6c706c","type":"function","z":"20fa7ef5.c293da","name":"transform data","func":"//as per info panel, the data needs to be formatted\n//as [ \"Choice 1\", \"Choice 2\", {\"Choice 3\":\"3\"} ]\n//and sent in msg.options.\nmsg.options = [];//create empty array\nfor(let i = 0; i < msg.payload.length; i++){\n    let row = msg.payload[i]; //get the row\n    let opt = {};//make new opt object\n    opt[row.part_number_item] = row.part_number_item; \n    msg.options.push(opt);//add the opt to array    \n}\nmsg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":100,"wires":[["c9940bda.9e6f3"]]},{"id":"c9940bda.9e6f3","type":"ui_dropdown","z":"20fa7ef5.c293da","name":"","label":"Part item","tooltip":"","place":"Select option","group":"ad51073e.110358","order":0,"width":"2","height":"2","passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":840,"y":100,"wires":[["b5e9fedb.ec8d38","f590840d.914848","6d968d89.866bc4"]]},{"id":"b5e9fedb.ec8d38","type":"ui_toast","z":"20fa7ef5.c293da","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":1110,"y":100,"wires":[]},{"id":"d976ebb9.de5aa8","type":"mysql","z":"20fa7ef5.c293da","mydb":"4732d663.8c3c8","name":"DTWIN","x":520,"y":100,"wires":[["4d0715e.b6c706c"]]},{"id":"d891d016.205e4","type":"function","z":"20fa7ef5.c293da","name":"Select data from DB","func":"msg.topic='select distinct part_number_item from rfid_msg_arch'\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":100,"wires":[["d976ebb9.de5aa8"]]},{"id":"22bf3bee.94321c","type":"inject","z":"20fa7ef5.c293da","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":100,"wires":[["d891d016.205e4"]]},{"id":"f590840d.914848","type":"switch","z":"20fa7ef5.c293da","name":"selected value","property":"payload","propertyType":"msg","rules":[{"t":"nempty"},{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":980,"y":180,"wires":[["e9c8a944.76ebd","e9dc9f04.0e2d8"],[]]},{"id":"e9c8a944.76ebd","type":"ui_text","z":"20fa7ef5.c293da","group":"ad51073e.110358","order":1,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":1210,"y":180,"wires":[]},{"id":"e9dc9f04.0e2d8","type":"function","z":"20fa7ef5.c293da","name":"Select filtered","func":"let ret_value = msg.payload;\nmsg.topic=\"select distinct location_id from rfid_msg_arch where part_number_item='\"+ ret_value + \"'\";\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":260,"wires":[["acdf7e73.1deb28"]]},{"id":"146683a4.03ce44","type":"debug","z":"20fa7ef5.c293da","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1050,"y":340,"wires":[]},{"id":"acdf7e73.1deb28","type":"mysql","z":"20fa7ef5.c293da","mydb":"4732d663.8c3c8","name":"DTWIN","x":1060,"y":280,"wires":[["146683a4.03ce44"]]},{"id":"59599fd4.01b3","type":"template","z":"20fa7ef5.c293da","name":"ImageTest","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!--style>\nbody {\n        background-image: url(\"/image/Picture1.jpg\");\n    }\n</style-->\n<HTML>\n\n<HEAD>\n\n<TITLE>Your Title Here</TITLE>\n\n</HEAD>\n\n<BODY BGCOLOR=\"FFFFFF\">\n<!--style>\nbody {\n        background-image: url(\"Picture1.jpg\");\n    }\n</style-->\n<CENTER><IMG SRC=\"Picture1.jpg\" ALIGN=\"BOTTOM\"> </CENTER> \n<HR>\n\n<a href=\"http://somegreatsite.com\">Link Name</a>\n\nis a link to another nifty site\n\n<H1>This is a Header</H1>\n\n<H2>This is a Medium Header</H2>\n\nSend me mail at <a href=\"mailto:support@yourcompany.com\">\n\nsupport@yourcompany.com</a>.\n\n<P> This is a new paragraph!\n\n<P> <B>This is a new paragraph!</B>\n\n<BR> <B><I>This is a new sentence without a paragraph break, in bold italics.</I></B>\n\n<HR>\n\n</BODY>\n\n</HTML> ","output":"str","x":410,"y":380,"wires":[["83cbe4eb.1191c"]]},{"id":"b4f67c27.711ef8","type":"http in","z":"20fa7ef5.c293da","name":"","url":"/testUI","method":"get","upload":false,"swaggerDoc":"","x":170,"y":380,"wires":[["59599fd4.01b3"]]},{"id":"83cbe4eb.1191c","type":"http response","z":"20fa7ef5.c293da","name":"testUI","statusCode":"","headers":{},"x":650,"y":380,"wires":[]},{"id":"8f0208.9829b5f8","type":"template","z":"20fa7ef5.c293da","name":"2DImage","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"\n\n<iframe src=\"https://myhub.autodesk360.com/ue2d7ccb3/shares/public/SHabee1QT1a327cf2b7a724754a79469790d?mode=embed\" width=\"1024\" height=\"768\" allowfullscreen=\"true\" webkitallowfullscreen=\"true\" mozallowfullscreen=\"true\"  frameborder=\"0\"></iframe>\n\n\n","output":"str","x":440,"y":520,"wires":[["2dce4c72.c4cca4"]]},{"id":"cadb12e4.3537c8","type":"http in","z":"20fa7ef5.c293da","name":"","url":"/2Dplant","method":"get","upload":false,"swaggerDoc":"","x":210,"y":520,"wires":[["8f0208.9829b5f8"]]},{"id":"2dce4c72.c4cca4","type":"http response","z":"20fa7ef5.c293da","name":"2DimageUI","statusCode":"","headers":{},"x":710,"y":520,"wires":[]},{"id":"5856183b.c3e98","type":"ui_heat_map","z":"20fa7ef5.c293da","group":"b9765e23.5f0f7","order":0,"width":"6","height":"5","name":"","rows":"1","columns":"9","minMax":true,"minimumValue":0,"maximumValue":"8","backgroundColor":"#80ff00","radius":40,"opacity":0.6,"blur":0.85,"showValues":true,"valuesDecimals":0,"showLegend":true,"legendDecimals":0,"legendCount":"9","x":1020,"y":640,"wires":[]},{"id":"320e6627.806dca","type":"inject","z":"20fa7ef5.c293da","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":620,"wires":[["ea852d1a.15446"]]},{"id":"75284ea2.5ae56","type":"function","z":"20fa7ef5.c293da","name":"transform data","func":"msg.options = [];\n\n//create empty array\nfor(let i = 0; i < msg.payload.length; i++){\n    let row = msg.payload[i]; //get the row\n    //let opt = {};//make new opt object\n    //opt[row.num_det] = row.num_det;\n    \n    msg.options.push(row.num_det);//add the opt to array    \n}\nmsg.payload = msg.options;\nreturn msg;\n","outputs":1,"noerr":0,"x":740,"y":600,"wires":[["5856183b.c3e98","8b7df5b5.383058"]]},{"id":"61225d33.9f6214","type":"mysql","z":"20fa7ef5.c293da","mydb":"4732d663.8c3c8","name":"DTWIN","x":580,"y":600,"wires":[["75284ea2.5ae56"]]},{"id":"ea852d1a.15446","type":"function","z":"20fa7ef5.c293da","name":"Select data from DB","func":"msg.topic=\"select distinct simulate_machine_id, count(rfid_short_id) as num_det from rfid_msg_arch where simulate_category = 'ASSEMBLY' and ts_receive >= STR_TO_DATE('2018-09-10 08:40:02.000000', '%Y-%m-%d %H:%i:%s') - interval 1 minute and ts_receive <= STR_TO_DATE('2018-09-10 08:40:02.000000', '%Y-%m-%d %H:%i:%s') + interval 1 minute  group by simulate_machine_id;\"\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":600,"wires":[["61225d33.9f6214"]]},{"id":"8b7df5b5.383058","type":"debug","z":"20fa7ef5.c293da","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":970,"y":520,"wires":[]},{"id":"6d968d89.866bc4","type":"debug","z":"20fa7ef5.c293da","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1040,"y":60,"wires":[]},{"id":"ad51073e.110358","type":"ui_group","z":"","name":"Details information","tab":"b4d48af0.0303","disp":true,"width":"6","collapse":false},{"id":"4732d663.8c3c8","type":"MySQLdatabase","z":"","host":"10.41.11.142","port":"3306","db":"dtwin","tz":""},{"id":"b9765e23.5f0f7","type":"ui_group","z":"","name":"MOULDING","tab":"ea1fbf81.b11fb8","disp":true,"width":"6","collapse":false},{"id":"b4d48af0.0303","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"ea1fbf81.b11fb8","type":"ui_tab","z":"","name":"MOULDING","icon":"dashboard","disabled":false,"hidden":false}]